Accept more flexible content type strings

When checking the content type of packets the client receives, it checks if it is an exact match (https://github.com/oasis-open/cti-taxii-client/blob/master/taxii2client/__init__.py#L481). This fails if for example "; charset=utf-8" is appended to the content type.

I thought that this should be relaxed too, at first. However, reading the JSON spec, `charset=utf-16`, etc. should not be allowed. [RFC 8529](https://tools.ietf.org/html/rfc8259#section-11) disallows them. RFC8529 is very recent, December 2017. It actually recommends UTF-8 only except for "closed systems."

TAXII-2.0 references RFC 7159 which was obsoleted by RFC 8529.

Section 3 of [RFC 4627](https://tools.ietf.org/html/rfc4627) demonstrates how to determine the character set of JSON without the charset parameter.