More flexible content-type matching

Building on #10, we should make the content-type matching more robust than just a string's `.startwith()`. 

@varnerac [commented](https://github.com/oasis-open/cti-taxii-client/issues/10#issuecomment-366825643) on #10 :

> I thought that this should be relaxed too, at first. However, reading the JSON spec, charset=utf-16, etc. should not be allowed. RFC 8529 disallows them. RFC8529 is very recent, December 2017. It actually recommends UTF-8 only except for "closed systems."
>
> TAXII-2.0 references RFC 7159 which was obsoleted by RFC 8529.
>
> Section 3 of RFC 4627 demonstrates how to determine the character set of JSON without the charset parameter.

I completely understand wanting to "nudge" people in the direction of doing the "right thing", but I also want to avoid making too many assumptions about the contexts in which this library will get used. My goals for the content-type checking have been to:

- make sure the server returns a TAXII Content-Type or STIX Content-Type, as appropriate for a given endpoint;
- detect if the server returns HTML instead of JSON (for instance, an error page, proxy interception, etc.); and
- (eventually) build a foundation where the user can specify a particular STIX or TAXII version, and reject other versions (if desired). 

All of these really depend on handling the structure and components of the Content-Type value, and not treating it as an opaque string.

For the second bullet 

> detect if the server returns HTML instead of JSON (for instance, an error page, proxy interception, etc.);

I think this is already covered when a call for `raise_for_status()` is made.